.banner{
	background-image: url(../images/hot-air-balloon.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 150px;
	width: 150px;
}

.banner h1{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-90%);
	font-size: 4em;
	font-weight: bold;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#690093+0,f28cbf+100 */
background: rgb(105,0,147); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(105,0,147,1) 0%, rgba(242,140,191,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(105,0,147,1) 0%,rgba(242,140,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(105,0,147,1) 0%,rgba(242,140,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#690093', endColorstr='#f28cbf',GradientType=1 ); /* IE6-9 */

	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
}